:root {
  --branding-color: #b438ae;
  --secondary-color: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

/* Default light mode styles */
body {
  font-family: var(--default-font-family);
  background-color: #fff;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 45px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.wrapper {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 4s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hero {
  position: relative;
  text-align: center;
  padding: 80px 20px;
  overflow: hidden;
}

#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero h1 {
  color: whitesmoke;
}

.hero-content {
  position: relative;
  z-index: 1;
  color: #fff;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.flex {
  text-align: center;
  color: #ed7d59;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  color: #fff;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  perspective: 1000px;
}

.carousel-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  transition: transform 1s;
}

.carousel-item {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
  border: 5px solid #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s, opacity 0.5s;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item:nth-child(1) {
  transform: rotateY(0deg) translateZ(400px);
}
.carousel-item:nth-child(2) {
  transform: rotateY(72deg) translateZ(400px);
}
.carousel-item:nth-child(3) {
  transform: rotateY(144deg) translateZ(400px);
}
.carousel-item:nth-child(4) {
  transform: rotateY(216deg) translateZ(400px);
}
.carousel-item:nth-child(5) {
  transform: rotateY(288deg) translateZ(400px);
}

.carousel-item:hover {
  transform: scale(1.2);
  z-index: 10;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-control {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 40px 60px;
}

.project-description3 {
  padding: 10px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142; /* Light color for default mode */
  transition: all 100ms ease-in-out;
}

nav li.active a {
  color: var(--branding-color);
}

nav a:hover {
  color: var(--branding-color);
}

footer {
  margin: 120px 0;
}

.contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

.contact-box p {
  margin: 0;
}

a.email-link {
  text-decoration: none;
  color: black; /* Default color for light mode */
  font-size: 24px;
}

a.email-link:hover {
  color: var(--branding-color);
}

.social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: white;
  background: var(--branding-color);
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode .btn-dark {
  background-color: #fff;
  color: #333;
}

/* Dark mode styles for hero section */
body.dark-mode .hero h1,
body.dark-mode .hero h2,
body.dark-mode .hero h3,
body.dark-mode .hero p {
  color: white; /* Ensure text in hero section is visible */
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode p {
  color: white; /* Ensure text in hero section is visible */
}

body.dark-mode footer h3 {
  color: black; /* Ensure text in hero section is visible */
}

/* Dark mode styles for nav */
body.dark-mode nav a {
  color: #fff; /* Light color for nav links in dark mode */
}

body.dark-mode nav a:hover {
  color: var(--branding-color);
}

/* Dark mode styles for footer */
body.dark-mode footer a.email-link {
  color: #fff; /* Light color for email links in dark mode */
}

/* Dark mode styles for buttons and links */
body.dark-mode .btn-branding {
  background: var(--branding-color);
  color: white;
}

body.dark-mode .btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

#scroll-to-top.show {
  display: flex;
}

#scroll-to-top i {
  font-size: 20px;
}
/* Media Queries for Responsive Design */
@media (max-width: 900px) {
  h1 {
    font-size: 37px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 48px;
  }

  .content {
    padding: 0;
    text-align: center;
  }

  .project-description3 {
    padding: 0;
    text-align: center;
  }

  #hero-video {
    display: none; /* Hide video on small screens */
  }

  .hero-content {
    background: var(--secondary-color); /* Add a fallback background color */
    padding: 40px 20px;
  }

  .hero {
    color: black; /* Set text color to black for the hero section */
  }

  .hero h1,
  .hero h2,
  .hero h3,
  .hero p {
    color: black; /* Override text colors for headings and paragraphs within the hero section */
  }

  body.dark-mode .hero h1,
  body.dark-mode .hero h2,
  body.dark-mode .hero h3,
  body.dark-mode .hero p {
    color: black; /* Ensure text in hero section is visible */
  }
}

/*WORK.HTML*/

/* Set a fixed size for project images */
.project-image {
  width: 100%; /* Make the image responsive within its column */
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Cover the entire area while maintaining aspect ratio */
}
